<html>
<head>
  <title>What's for lunch in Turku?</title>
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>Lunch in Turku <span class="small">{{ today }}</span></h1>

      <hr>
      <p>
        This data is scraped from the restaurant websites daily at 10:30am, Turku time.
      </p>

      <table class="table table-striped table-bordered">
        <tr>
          <th>Restaurant</th>
          <th>Dishes</th>
        </tr>
        {% for restaurant in data %}
        <tr>
          <td>
            {{ restaurant.restaurant }}
          </td>
          <td>
            <ul>
              {% for dish in restaurant.dishes %}
                <li>
                  {{ dish }}
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endfor %}

      </table>
    </div><!-- col -->
  </div><!-- row -->

  <div class="row">
    <div class="col-lg-8">
      Kindly brought to you by <a href="https://carlosp420.github.io">Carlos Peña</a>.
    </div>
  </div><!-- row -->
</div><!-- container -->

</body>
</html>
